.container {
  height: inherit;
  width: inherit;
  padding: 0 2rem;
}

.main {
  min-height: 80vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list {
  overflow: auto;
  height: 50vh;
  display: flex;
  justify-content: center;
}

.appTitle {
  color: white;
  text-align: center;
}

.appBar {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  color: white;
}

.appName {
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: flex-end;
  font-family: Pacifico;
  font-size: 1.5rem;
}

.searchBar {
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: flex-start;
}

.searchBar__input {
  width: 30rem;
  height: 2rem;
  border-radius: 10px;
  font-size: large;
  padding-left: 1rem;
  outline: none;
}

.searchBar__input::-webkit-input-placeholder {
  text-align: center;
}

.searchBar__input:-moz-placeholder {
  text-align: right;
}
