.movie {
  user-select: none;
  display: flex;
  width: 200px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  position: relative;
}

.text {
  text-align: center;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}

.poster {
  overflow: hidden;
}

.favorite {
  position: absolute;
  color: white;
  top: 10px;
  right: 10px;
  z-index: 999;
  cursor: pointer;
}
